<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>main_page</title>
    <style>
    body{
        background-size: cover;
        background-repeat: no-repeat;
        }
    </style>
</head>
<body style="background-image:url('background_image1.jpg');">
        <% include ./inc/nav.ejs %>
        <br><br><br>
    <!-- 메인 페이지입니다
    추후 꾸밀예정. -->
    <br>

    여기가 프로필입니다.<br><br><br>

    11 님 환영합니다!<br>
    비밀번호는 "해시값"으로 저장되어<br>
    해킹 걱정의 위험이 "전혀" 없습니다.<br>
    <br><br>
    입력해주신 email 주소로 인증 메일을 보냈습니다.<br>
    이메일 인증을 해주시면 더욱 많은 정보를 이용하실 수 있습니다.<br>
    감사합니다.
<br><br>
    11님은 배드민턴을 좋아하시는군요! <br>

    11님은 94년생이면 개띠 이군요!<br>
    금일 개띠의 운세는<br>
    7월 23일의 운세 총운은 “운기칠삼” 입니다.
운기의 흐름이 최고조에 달하는 날입니다. 내딛는 발걸음마다, 뻗치는 손길마다 큰 운이 실리고 주변 사람들의 호응을 얻을 수 있을 것입니다. 이러한 때이니 만큼 용기를 가지고 활발히 움직이는 것이 더욱 많은 운을 얻게 할 수 있는 길이 되겠습니다. 한꺼번에 두 가지 일을 해도 길합니다. 두 마리 토끼를 다 잡을 수 있는 날인 것이지요. 우선 순위를 정해 중요도 순으로 움직이는 것이 좋을 것으로 보이기도 합니다. 멀리서 좋은 소식을 듣게 될 수도 있습니다.
<br>
입니다.

    <script>
    alert('환영합니다.');
</script>
    </script>
</body>
</html>